{% extends 'base.html.twig' %}

{% block body %}

<h1> CRUD </h1>

<ul>
    <li>
        <a href="/city/">city_index</a><br>
        <a href="/city/new">city_new</a><br>
        <a href="/forecast/">forecast_index</a><br>
        <a href="/forecast/new">forecast_new</a><br>
    </li>
</ul>

{% endblock %}
